.btn {
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    color: #fff;
    box-shadow: none;
}

.site-footer {
    display: none;
}

a.navigation-list-link.active {
    font-weight: bold;
}

@media (min-width: 31.25rem) { .site-title { font-size: 20px !important; } }
