<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if page.description %}
  <meta name="Description" content="{{ page.description }}">
  {% endif %}

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs-default.css" | absolute_url }}">
  <script>
  if (window.location.host === 'about.parallelmarkets.com') {
    window._pmAnalyticsConfig = {
      segment_key: 'FsZOMatHS0d0uzap67Vjcic5sR0GAr1j',
      auto_track_pageview: true,
      code_name: 'Parallel Handbook Site',
      code_version: 'production'
    };
  }
  </script>
  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
